
<%= form_with(model: @board, local: true) do |form| %>
  <% if @board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
      <% @board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    
  <%= form_for @board do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
<br>
<br>
    <div class="actions">
        <a class="waves-effect waves-light btn"><%= form.submit %></a>

    
  </div>
  <% end %>
  <br>
  <%= link_to 'Back', boards_path %>

  
<% end %>
