<p id="notice"><%= notice %></p>
<%= button_to "Log Out", destroy_user_session_path, method: :delete %>

<h1>Boards</h1>
<h2>Welcome <%= current_user.first_name %></h2>

<br>
<br>
<br>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= board.title %><td>
        <td><%= link_to 'Edit', edit_board_path(board)%></td>
        <td><%= link_to 'Delete', board, method: :delete %></td>
      </tr>
    <% end %>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><%= link_to 'New Board', new_board_path %></td>
      <td><%= link_to 'Show', boards_path %></td>
    </tr>
  </tbody>  
<table>  
  
<br>
 
       

<br>

