<p id="notice"><%= notice %></p>
<%= button_to "Log Out", destroy_user_session_path, method: :delete %>

<h1>Boards</h1>
<h2>Welcome <%= current_user.first_name %></h2>

<br>
<br>
<br>


  <tbody>
      
  <%= link_to 'New Board', new_board_path %>

        <td><%= link_to 'Show', boards_path %></td>
       
        
    
  </tbody>
</table>

<br>

