<p id="notice"><%= notice %></p>
<%= button_to "Log Out", destroy_user_session_path, method: :delete %>

<h1>Boards</h1>
<h2>Welcome <%= current_user.first_name %></h2>

<br>
<br>
<br>


  <tbody>
      
        <td><%= link_to 'Add', new_board_path %></td>
        <td><%= link_to 'Show', boards_path %></td>
       
        
    <% @boards.each do |board| %>
      <td><%= link_to 'Edit', edit_board_path %></td>
      <td><%= link_to 'Delete', board_path, method: :destroy %></td>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Board', new_board_path %>
