<p id="notice"><%= notice %></p>
<a class="waves-effect waves-light btn"><%= button_to "Log Out", destroy_user_session_path, method: :delete %></a>


<h1><%= current_user.first_name %></h1>
<h2>Welcome to your Boards</h2>

<br>
<br>
<br>

<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<<<<<<< HEAD
<td><%= link_to 'New Board', new_board_path, class: "waves-effect waves-light btn" %></td>

=======
<td><%= link_to 'New Board', new_board_path %></td>
<td><%= link_to 'Show All', boards_path %></td>
>>>>>>> add link to board_id

</tr>

<table class="striped">
  <thead>
    <tr>
      <th>Board Title</th>
      <th>Edit Board</th>
      <th>Delete Board</th>
    </tr>
  </thead>
  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= link_to board.title, board %><td>
        <td><%= link_to 'Edit', edit_board_path(board)%></td>
        <td><%= link_to 'Delete', board, method: :delete %></td>
      </tr>
    <% end %>
   
  </tbody>  
<table>  
  
<br>
 
       

<br>


