<p id="notice"><%= notice %></p>


<% @board %>
<h1><%= @board.title %></h1>

 
  <%= link_to 'Edit', edit_board_path(@board)%>
  <%= link_to 'Delete', @board, method: :delete %>

<%= link_to 'Back', boards_path %>
